CalendarSync/Calendar2-TwoWaySync-WithDB/Microsoft.Flow/flows/d5a6c28e-74a3-4833-bfa4-7051bfb2a0d7/definition.json
{"name":"30c33f11-fcc8-4719-957d-c1358b92f05e","id":"/providers/Microsoft.Flow/flows/30c33f11-fcc8-4719-957d-c1358b92f05e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Calendar 2 - Two Way Sync - With DB","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c6212637-7b1c-4e53-8d44-c03c45056933","type":"User","tenantId":"c039d7ae-6d34-46d3-b775-85b9606eac64"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-03-13T21:47:51.1906461Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_event_is_added,_updated_or_deleted_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"b10da6a2-f810-4721-9c4e-b6f73030afbe"},"type":"OpenApiConnectionNotification","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_2","operationId":"CalendarGetOnChangedItemsV3"},"parameters":{"table":"AQMkADNiYzJmODEwLTg5ZGMtNDM1Ny1iODQ2LTE5MjYyODcxMzMANmYARgAAA1lEZtO-ybVAsVyK1sfF7xIHALb5uGOhvC9Oqpxe_6ApJGsAAAIBBgAAALb5uGOhvC9Oqpxe_6ApJGsAAAJHvAAAAA==","incomingDays":30,"pastDays":30},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{},"cases":{"Added":{"case":"added","actions":{"Added_-_Get_List_for_Existence":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://geninf-my.sharepoint.com/personal/joshua_jones_geninf_com","table":"c73cc8f4-9b59-4e35-aa4c-b210adecbfea","$filter":"Mailbox2ID eq '@{triggerOutputs()?['body/id']}'"},"authentication":"@parameters('$authentication')"}},"Added_-_Check_For_Existence":{"actions":{},"runAfter":{"Added_-_Get_List_for_Existence":["Succeeded"]},"else":{"actions":{"Create_item_-_No_List":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://geninf-my.sharepoint.com/personal/joshua_jones_geninf_com","table":"c73cc8f4-9b59-4e35-aa4c-b210adecbfea","item/Title":"@triggerOutputs()?['body/subject']","item/Mailbox2ID":"@triggerOutputs()?['body/id']","item/Unicom":2},"authentication":"@parameters('$authentication')"}},"Update_item_-_No_List":{"runAfter":{"Create_event_-_No_List":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://geninf-my.sharepoint.com/personal/joshua_jones_geninf_com","table":"c73cc8f4-9b59-4e35-aa4c-b210adecbfea","id":"@outputs('Create_item_-_No_List')?['body/ID']","item/Title":"@outputs('Create_item_-_No_List')?['body/Title']","item/Mailbox1ID":"@outputs('Create_event_-_No_List')?['body/id']","item/Mailbox2ID":"@outputs('Create_item_-_No_List')?['body/Mailbox2ID']","item/Unicom":2},"authentication":"@parameters('$authentication')"}},"Create_event_-_No_List":{"runAfter":{"Create_item_-_No_List":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"AAMkADAyNDEwMDYwLTAyZWEtNGEzOS04NzNiLTU3NTZhN2NiYWQxYgBGAAAAAADsNKWgjDzrRom2D6gCmxlzBwB-7Nc5fMbHTpuX2J6TqanNAAAAAAEGAAB-7Nc5fMbHTpuX2J6TqanNAAAD5ro5AAA=","item/subject":"Calendar 2 - @{triggerOutputs()?['body/subject']}","item/start":"@triggerOutputs()?['body/start']","item/end":"@triggerOutputs()?['body/end']","item/timeZone":"(UTC) Coordinated Universal Time"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('Added_-_Get_List_for_Existence')?['body/value'])",0]},"type":"If"}}},"Updated":{"case":"updated","actions":{"Update_-_Get_List_for_Calendar_Check":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://geninf-my.sharepoint.com/personal/joshua_jones_geninf_com","table":"c73cc8f4-9b59-4e35-aa4c-b210adecbfea","$filter":"Mailbox2ID eq '@{triggerOutputs()?['body/id']}'"},"authentication":"@parameters('$authentication')"}},"Update_-_Original_Calendar_Check":{"foreach":"@outputs('Update_-_Get_List_for_Calendar_Check')?['body/value']","actions":{"Update_-_Original_Calendar_Check_Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Update_event_(V4)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPatchItem"},"parameters":{"table":"AAMkADAyNDEwMDYwLTAyZWEtNGEzOS04NzNiLTU3NTZhN2NiYWQxYgBGAAAAAADsNKWgjDzrRom2D6gCmxlzBwB-7Nc5fMbHTpuX2J6TqanNAAAAAAEGAAB-7Nc5fMbHTpuX2J6TqanNAAAD5ro5AAA=","id":"@items('Update_-_Original_Calendar_Check')?['Mailbox1ID']","item/subject":"Calendar 2 - @{triggerOutputs()?['body/subject']}","item/start":"@triggerOutputs()?['body/start']","item/end":"@triggerOutputs()?['body/end']","item/timeZone":"(UTC) Coordinated Universal Time"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@items('Update_-_Original_Calendar_Check')?['Unicom']",1]},"type":"If"}},"runAfter":{"Update_-_Get_List_for_Calendar_Check":["Succeeded"]},"type":"Foreach"}}},"Deleted":{"case":"deleted","actions":{"Delete_-_Get_List_for_Calendar_Check":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://geninf-my.sharepoint.com/personal/joshua_jones_geninf_com","table":"c73cc8f4-9b59-4e35-aa4c-b210adecbfea","$filter":"Mailbox2ID eq '@{triggerOutputs()?['body/id']}'"},"authentication":"@parameters('$authentication')"}},"Delete_-_Check_For_Existence":{"actions":{"Delete_-_Apply_to_Each":{"foreach":"@outputs('Delete_-_Get_List_for_Calendar_Check')?['body/value']","actions":{"Delete_Event_-_Second_Calendar":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"CalendarDeleteItem_V2"},"parameters":{"calendar":"AAMkADAyNDEwMDYwLTAyZWEtNGEzOS04NzNiLTU3NTZhN2NiYWQxYgBGAAAAAADsNKWgjDzrRom2D6gCmxlzBwB-7Nc5fMbHTpuX2J6TqanNAAAAAAEGAAB-7Nc5fMbHTpuX2J6TqanNAAAD5ro5AAA=","event":"@items('Delete_-_Apply_to_Each')?['Mailbox1ID']"},"authentication":"@parameters('$authentication')"}},"Delete_Item_-_Final_Step":{"runAfter":{"Delete_Event_-_Second_Calendar":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://geninf-my.sharepoint.com/personal/joshua_jones_geninf_com","table":"c73cc8f4-9b59-4e35-aa4c-b210adecbfea","id":"@items('Delete_-_Apply_to_Each')?['ID']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Delete_-_Get_List_for_Calendar_Check":["Succeeded"]},"expression":{"greater":["@length(outputs('Delete_-_Get_List_for_Calendar_Check')?['body/value'])",0]},"type":"If"}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/ActionType']","metadata":{"operationMetadataId":"ce412167-9458-44b6-8d31-eac9dcd8aacd"},"type":"Switch"}},"description":"Sync from Unicom to GI"},"connectionReferences":{"shared_sharepointonline":{"connectionName":"19a2b717364a4464b18b2f4f900e0c63","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"0bf5bffabc5e407da4bc0b95a8d5bd3c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_office365_2":{"connectionName":"87db68a9292c43a7a95d7dfe8a121ba0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}